
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@300&family=Iceberg&family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Pixelify+Sans:wght@700&display=swap');

.pagecontainer{
    background-image: url(./greypinkbackground.svg);
    height: 200vh;
    background-size: cover;
    
}


.aboutcontainer {
    display: flex;
    flex-direction:row;
    height: 750px;
    width: 550px;
   
}

.about {

    height: 350px;
    width: 350px;
    margin-left: 15%;
    margin-top: 20%;
    background-color: black;
}
.social{
  margin-top: -100%;
}



.name1 {
    width: 800px;
    margin-left: 150%;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: x-large;
    color:rgb(12, 12, 12);
}

.descriptiontitle {
    margin-left: 150%;
    width: 600px;
    padding-top: 0;
    color: rgb(21, 20, 21);
    font-family: 'Krona One', sans-serif;
    font-size: small;

}

.description {
    margin-left: 150%;
    width: 500px;
    padding-top: 0;
   
    color: rgb(211, 105, 156);
    font-family: 'Krona One', sans-serif;
    font-size: small;

}

.experience {
    display: flex;
    flex-direction:column;
    width: 600px;
    text-align:left;
    margin-top: 15%;
    margin-left: 150%;
    color: rgb(12, 12, 12);
    font-family: 'Krona One', sans-serif;
    font-size: x-small;


   
}

h3 {
    color: rgb(211, 105, 156);
  }




.skills-title {
    width: 200px;
    height: 30px; 
    text-align: center;
    padding-bottom: 3%;
    line-height: 0px;
    border-radius: 25px;
    border: 2px solid rgb(233, 180, 213);
}

.courses-title {
    width: 300px;
    height: 30px;
    text-align: center;
    line-height: 0px;
    padding-bottom: 3%;
    border-radius: 25px;
    border: 2px solid  rgb(233, 180, 213);
   
  

}


.courses {
    width: 800px;
    margin-top: 20%;
}