
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

.decor {
  display: flex;
  margin-top: 7%;
  margin-left: 7%;
  flex-direction:row;
}

.decor2 {
  display: inline-flex;
  margin-top: 0%;
  margin-left: 17%;
  flex-direction:row;

}
.vision {
   
    background-image: url(./visionboardcopy.jpeg);
    background-repeat: no-repeat;
    display:flex;
    height: 100vh;
    margin-left: 12%;
    margin-top: 5%;
    
  }

.name {
    margin-left: 30%;
    margin-top: 4%;
    width: 600px;
    height: 30px; 
    justify-content: center;
    text-align: center;
    line-height: 0px;
    color:white;
    font-family: 'Iceberg', cursive;
    font-size: x-large;

}


.introduction {
  margin-left: 0%;
  margin-top: 3%;
  text-align:center;
  font-size: large;
  justify-content: center;
  color: rgb(128, 168, 203);
  height: 90px;
  width: auto;
  padding-top: 4px;
  padding-bottom: 50px;
}
  