
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Pixelify+Sans:wght@700&display=swap');


.wrap{
  background-image: url(./greypinkbackground.svg);
  height: 200vh;
  background-size: cover;
  
  
}

.intro {

    width: 400px;
    padding-top: 10%;
    font-family: 'Pixelify Sans', sans-serif;
    font-size:xx-large;
    color: rgb(211, 105, 156);
    display: flex;
    justify-content: center;
    margin: auto;
}


.introdescription {
    width: 800px;
    padding-top: 1%;
    color: rgb(38, 37, 38);
    font-family: 'Krona One', sans-serif;
    font-size: small;
    margin: auto;
    
}

.palette {
  padding-top: 3%;
  width:900px;
  height: 150px;
  margin: auto;
  display: flex;
  flex-direction:row;
  justify-content: center;
  padding-bottom: 4%;
}

.square {
  background-image: url(./fuzzyheart.svg);
  background-position: 50%;
  background-size: 130%;
  width:200px;
  height: 200px;
  margin: auto;
  

}



.board {
    width: 1080px;
    height: 600px;
    background-image: url(./visionboard1.jpeg);
    background-repeat: no-repeat;
    margin: auto;
    justify-content: center;
   
  }


