@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Karla&display=swap');

.nav {
    background-color: transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 5rem;
}

.nav ul {
    padding: 0;
    margin: 5;
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav a {
    color:rgb(233, 176, 220);
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: larger;
}

.nav li.active {
    background-color: rgb(35, 123, 199);

}

.nav li:hover {
    background-color: rgb(69, 58, 58);
    
}